.customcard {
  background-color: rgb(252, 252, 252);
  padding: 1.25rem;
  box-sizing: border-box;
}
.customcard {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid #c8ced3;
      border-radius: 0.25rem;
} 

// Here you can add other styles
.cardheading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.cardheading > div {
  margin:  auto 0;
}

@media only screen and (max-width: 600px) {
  .cardheading {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
  .cardheading > div {
    margin: 0 auto ;
  }
}
.sidebar .nav-link:hover {
  color: #fff;
  background: #ff3573;
}
.sidebar .nav-link.active .nav-icon {
  color: #ff3573;
}
a {
  color: #ff3573;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #ff3573;
}

.btn-primary {
  background-color: #ff3573 !important;
  border-color: #ff3573 !important;
  color: #fff;
}
.btn-romoni-secondary {
  background-color: #524458 !important;
  color: #fff;
}
.btn-romoni-secondary:hover {
  color: #ffc3d1 !important;
}
.center-div {
  display: table;
  margin-right: auto;
  margin-left: auto;
}


